extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-primary(href='/users/new') Sign up  
  p
  a.btn.btn-primary(href='/users/Login') Login
  p
  a.btn.btn-primary(href='/users/ad') administratorMODE
