extends ../layout
block content
  .container
    h1.page-header 설문지
    table.table.table-bordered
      thead
        tr
          th 설문지제목
          th 설문내용
          th 설문일자.
      tbody
        each post in posts
          tr
            td
              a(href='/users/survey/#{post.id}') = post.surveytitle
            td= post.surveycontent
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
