extends ../layout
block content
  h1 설문지 작성
    script(src='/javascripts/calculator.js')
    p 
  form(action='/users/complete', method='POST')  
    .form-group
      label(for='surveytitle') 설문지 제목
      input.form-control(name='surveytitle')
    .form-group
      label(for='surveycontent') 설문지 내용
      .plus
        .plus2
          input.form-control(name='surveycontent')
    .form-action
      a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
      | &nbsp;
    input(type='button',value='주관식 질문추가',class='add')
    input(type='button',value='질문삭제',class='del') 
    button(type='submit') 설문지 완성
  script.
    $(function(){
      var survey = new initCalculator();
    });
