extends ../layout

block content                            
  .container  
   if user.id
    h1.page-header 회원정보수정
   else
    h1.page-header 회원가입

   form(action = (user.id) ? "/users/#{user.id}?_method=PUT" : "/users", method='POST')    
    //- user.id값이 있으면 메소드 put /:id위치로    없으면 post /위치로 
    .form-group
      label(for='name') User name
      input.form-control(type='text', id='name', name='name', placeholder='name', value=user.name)
    .form-group  
      label(for='password') Password
      input.form-control(type='password', id='password', name='password', placeholder='Password')
    .form-group  
      label(for='email') Email address
      input.form-control(type='email', id='email', name='email', placeholder='Email', value=user.email)
    
    div.form-actions
      a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
      | 
      button.btn.btn-primary(type='submit') 완료  
