extends ../layout
block content
  .container
    h1.page-header 회원관리
    h2 회원목록
  //form(action='/users/delete' ,method='DELETE')
  table.table.table-bordered
    thead
      tr
        th 아이디
        th 이메일
        th 삭제여부
    tbody
      each user in users
        tr
          td= user.name
          td= user.email
          td
            a.btn.btn-xs.btn-default(href='/users/#{user._id}?_method=DELETE') 계정 삭제
  a.btn.btn-xs.btn-default(href='/') 뒤로
